@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Shantell+Sans:wght@300&display=swap');
:root {
    --primary-color: #ffa62b;
    --secondary-color: #82c0cc;
    --accent1-color: #489fb5;
    --accent2-color: #16697a;
 
    --heading-font: 'Shantell Sans' cursive;
    --paragraph-font: 'Gloock'serif;
    --nav-background-color: #16697a;
    --nav-link-color: #ffa62b;
    --nav-hover-link-color: #489fb5;
    --nav-hover-background-color:#82c0cc;
}
header {
    padding: 10px;
    background-color: var(--accent1-color);
    width: full;
    display: grid;
    grid-template-columns: 150px auto auto auto auto;
    grid-template-rows: 5fr;
    grid-gap: 25px;
    justify-content: center;
}
header img {
    grid-column-start: 1;
    grid-column-end: 3;
}
header a {
    align-self: center;
}
main h1, h2 {
    color: var(--primary-color);
    font-family: 'Gloock', Serif;
}
main {
    background-color: #489fb5;
}
main p {
    color: var(--accent2-color);
    font-family: 'Shantell Sans', cursive;
}
nav a {
    text-decoration: none;
}
main div {
    position: relative;
}