* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color:moccasin;
    color:black;
}
aside {
    width:fit-content;
    text-align: center;
}
main img {
    float: right;
    width: 400px;
}
.mainBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
main p {
    width: 50%;
}
main h1{
    text-align: center;
}
aside h2 {
    text-align: center;
    padding: .5rem;
  }